.form,
.group {
  display: flex;
  flex-flow: column nowrap;
  margin: 1rem;
  border: 1px solid blue;
  border-radius: 0.5rem;
  padding: 1rem;
}

.button_delete {
  background-color: #f29d9d;
  max-width: 1080px;
}

.button_add {
  background-color: #60ea89;
  width: 320px;
}

.td,
.td_button {
  display: flex;
  flex-flow: column nowrap;
  padding: 0.5rem;
}

.td_button {
  margin-top: 1.5rem;
}
