.button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-family: var(--font-default);
    font-weight: 400;
    line-height: normal;
    transition: color 0.2s ease 0s;
    cursor: pointer;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 3px;
}
