@font-face {
  font-family: 'RobotoRegular';
  src: url('../fonts/RobotoRegular/RobotoRegular.eot');
  src:
    url('../fonts/RobotoRegular/RobotoRegular.eot') format('embedded-opentype'),
    url('../fonts/RobotoRegular/RobotoRegular.woff2') format('woff2'),
    url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff'),
    url('../fonts/RobotoRegular/RobotoRegular.ttf') format('truetype'),
    url('../fonts/RobotoRegular/RobotoRegular.svg#RobotoRegular') format('svg');
  font-display: swap;
}

@font-face {
  font-family: 'RobotoBold';
  src: url('../fonts/RobotoBold/RobotoBold.eot');
  src:
    url('../fonts/RobotoBold/RobotoBold.eot') format('embedded-opentype'),
    url('../fonts/RobotoBold/RobotoBold.woff2') format('woff2'),
    url('../fonts/RobotoBold/RobotoBold.woff') format('woff'),
    url('../fonts/RobotoBold/RobotoBold.ttf') format('truetype'),
    url('../fonts/RobotoBold/RobotoBold.svg#RobotoBold') format('svg');
  font-display: swap;
}

@font-face {
  font-family: 'RalewayRegular';
  src: url('../fonts/RalewayRegular/RalewayRegular.eot');
  src:
    url('../fonts/RalewayRegular/RalewayRegular.eot')
      format('embedded-opentype'),
    url('../fonts/RalewayRegular/RalewayRegular.woff2') format('woff2'),
    url('../fonts/RalewayRegular/RalewayRegular.woff') format('woff'),
    url('../fonts/RalewayRegular/RalewayRegular.ttf') format('truetype'),
    url('../fonts/RalewayRegular/RalewayRegular.svg#RalewayRegular')
      format('svg');
  font-display: swap;
}

@font-face {
  font-family: 'RalewayBold';
  src: url('../fonts/RalewayBold/RalewayBold.eot');
  src:
    url('../fonts/RalewayBold/RalewayBold.eot') format('embedded-opentype'),
    url('../fonts/RalewayBold/RalewayBold.woff2') format('woff2'),
    url('../fonts/RalewayBold/RalewayBold.woff') format('woff'),
    url('../fonts/RalewayBold/RalewayBold.ttf') format('truetype'),
    url('../fonts/RalewayBold/RalewayBold.svg#RalewayBold') format('svg');
  font-display: swap;
}

@font-face {
  font-family: 'RalewayLight';
  src: url('../fonts/RalewayLight/RalewayLight.eot');
  src:
    url('../fonts/RalewayLight/RalewayLight.eot') format('embedded-opentype'),
    url('../fonts/RalewayLight/RalewayLight.woff2') format('woff2'),
    url('../fonts/RalewayLight/RalewayLight.woff') format('woff'),
    url('../fonts/RalewayLight/RalewayLight.ttf') format('truetype'),
    url('../fonts/RalewayLight/RalewayLight.svg#RalewayLight') format('svg');
  font-display: swap;
}

@font-face {
  font-family: 'RalewaySemiBold';
  src: url('../fonts/RalewaySemiBold/RalewaySemiBold.eot');
  src:
    url('../fonts/RalewaySemiBold/RalewaySemiBold.eot')
      format('embedded-opentype'),
    url('../fonts/RalewaySemiBold/RalewaySemiBold.woff2') format('woff2'),
    url('../fonts/RalewaySemiBold/RalewaySemiBold.woff') format('woff'),
    url('../fonts/RalewaySemiBold/RalewaySemiBold.ttf') format('truetype'),
    url('../fonts/RalewaySemiBold/RalewaySemiBold.svg#RalewaySemiBold')
      format('svg');
  font-display: swap;
}
